.btn {
  background-color: var(--primary-color);
  padding: 0.6rem 4rem;
  border-radius: 0.3rem;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;

  overflow: hidden;
  border-radius: .5rem;
  box-sizing: border-box;
  background: #007ccd;
  border: 2px solid #007ccd;
  color: white;
  padding: 15px 5px;
  width: 14rem;
  display: inline-block;
  position: relative;
  transition: all 300ms ease;
}

.btn:active {
  transform: translateY(2px);
}

.btn span {
  display: block;
  transform: translate(7px, 0);
}

.btn svg {
  fill: white;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg) scale(0.04857);
  transition: all 350ms ease-out;
  height: 700px;
}

.btn:hover {
  padding: 15px 0;
  color: #007ccd;
  padding-right: 10px;
}

.btn:hover svg {
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg) scale(1);
}

.btn:hover svg#windows {
  transform: translate(-50%, -10%) rotate(60deg) scale(1);
}

.btn:hover svg#heart {
  transform: translate(-50%, -15%) rotate(60deg) scale(1.1);
}


